<div
  class="container d-flex flex-column justify-content-center align-items-center"
  style="height: 80vh;"
>
  <div class="mb-3 text-center">
    <h1>CART con ID:
      <br />
      {{cid}}</h1>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    {{#each products}}
      <div class="card m-3" style="width: 18rem;">
        <img src="{{this.thumbnail}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4 class="card-title">{{this.title}}</h4>
          <p class="card-text">{{this.description}}</p>
          <h5>Price: {{this.price}}</h5>
          <h6 class="card-text">Category: {{this.category}}</h6>
          <h6>Quantity: {{this.quantity}}</h6>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="mt-3">
    <a class="btn btn-secondary" href="/products" role="button">Volver a
      products</a>
  </div>
</div>